body{
    background-color: gray;
}
.burger{
    color: red;
}
.lemon{
    color: yellow;
}
.lasagna{
    color: brown;
}
.headBurger{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
li{
    border-style: double;
}
h1{
    font-size: 99px;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}